<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmsoft.konan.dao.CollectionInfoDAO">	
	<insert id="insertCollectionInfo" parameterType="com.cmsoft.konan.vo.CollectionInfoVO">
		INSERT INTO schedule_info
		          (SC_NAME, SC_SITE, SC_URL, SC_TYPE, SC_EXT, 
		          SC_MAXSIZE, SC_STATE, SC_COUNT, SC_COUNT_E, USER_ID, INPUT_DATE) 
		VALUES (#{SC_NAME}, #{SC_SITE}, #{SC_URL},  #{SC_TYPE}, #{SC_EXT}, 
		        #{SC_MAXSIZE}, 0, 0,0,#{USER_ID},now());		
	</insert>
	
	<update id="updateCollectionInfo"  parameterType="com.cmsoft.konan.vo.CollectionInfoVO">
	UPDATE schedule_info 
	   SET S_NAME          = #{SC_NAME}
	 WHERE SID = #{SID};
	</update>

	<select id="selectCollectionInfoListCount" parameterType="com.cmsoft.konan.vo.CommonSearchVO" resultType="Integer">
		SELECT COUNT(T.SID)
		  FROM schedule_info T
		 WHERE 1=1 
		   <if test=" searchValue1 != null and searchValue1 > -1 ">
		      AND T.${searchField1} = #{searchValue1}
		   </if>		
		   <if test=" searchStartDateValue1 != null and searchStartDateValue1 != '' ">
		   	  AND DATE_FORMAT(T.INPUT_DATE, '%Y%m%d') <![CDATA[>=]]> #{searchStartDateValue1}
		   </if>
		   <if test=" searchEndDateValue1 != null and searchEndDateValue1 != '' ">
			  AND DATE_FORMAT(T.INPUT_DATE, '%Y%m%d') <![CDATA[<=]]> #{searchEndDateValue1}
		   </if>	
		   <if test=" searchValue2 != null and searchValue2 != '' ">
		      AND T.${searchField2} LIKE CONCAT('%',#{searchValue2},'%')
		   </if>
		   <if test=" searchValue3 != null and searchValue3 != '' ">
		      AND T.${searchField3} LIKE CONCAT('%',#{searchValue3},'%')
		   </if>	  
	</select>
	

	<select id="selectCollectionInfoList" parameterType="com.cmsoft.konan.vo.CommonSearchVO" resultType="com.cmsoft.konan.vo.CollectionInfoVO">
		SELECT 
			T.SID, T.SC_NAME, T.SC_SITE, T.SC_URL, T.SC_TYPE, T.SC_EXT, T.SC_MAXSIZE, 
			CASE WHEN T.SC_STATE = 0 THEN '대기' 
			     WHEN T.SC_STATE = 1 THEN '진행'
			     WHEN T.SC_STATE = 3 THEN '취소'
			     ELSE '완료'
			END SC_STATE,
			T.SC_COUNT, CONCAT(T.SC_COUNT,CONCAT(' (', CONCAT(T.SC_DOWNLOAD, CONCAT('/', CONCAT(T.SC_COUNT_E, ')'))))) SC_COUNT_W,
			T.SC_COUNT_E, T.USER_ID, DATE_FORMAT(T.INPUT_DATE, '%Y-%m-%d') INPUT_DATE, DATE_FORMAT(T.END_DATE, '%Y-%m-%d') END_DATE,  
			@ROWNUM := @ROWNUM + 1 AS ROWNUM
		FROM schedule_info T ,
		    (SELECT @ROWNUM := 0) R 
		 WHERE 1=1 
		   <if test=" searchValue1 != null and searchValue1 > -1 ">
		      AND T.${searchField1} = #{searchValue1}
		   </if>		
		   <if test=" searchStartDateValue1 != null and searchStartDateValue1 != '' ">
		   	  AND DATE_FORMAT(T.INPUT_DATE, '%Y%m%d') <![CDATA[>=]]> #{searchStartDateValue1}
		   </if>
		   <if test=" searchEndDateValue1 != null and searchEndDateValue1 != '' ">
			  AND DATE_FORMAT(T.INPUT_DATE, '%Y%m%d') <![CDATA[<=]]> #{searchEndDateValue1}
		   </if>	
		   <if test=" searchValue2 != null and searchValue2 != '' ">
		      AND T.${searchField2} LIKE CONCAT('%',#{searchValue2},'%')
		   </if>
		   <if test=" searchValue3 != null and searchValue3 != '' ">
		      AND T.${searchField3} LIKE CONCAT('%',#{searchValue3},'%')
		   </if>
		 ORDER BY T.INPUT_DATE DESC
	   <if test=" isPaging ">
		 LIMIT #{start}, #{pageSize}
	   </if>		   			   
	</select>

	<select id="selectCollectionInfo" parameterType="com.cmsoft.konan.vo.CollectionInfoVO" resultType="com.cmsoft.konan.vo.CollectionInfoVO">	
		SELECT
			T.SID, T.SC_NAME, T.SC_SITE, T.SC_URL, T.SC_TYPE, T.SC_EXT, T.SC_MAXSIZE, 
			CASE WHEN T.SC_STATE = 0 THEN '대기' 
			     WHEN T.SC_STATE = 1 THEN '진행'
			     WHEN T.SC_STATE = 3 THEN '취소'
			     ELSE '완료'
			END SC_STATE, 
			T.SC_COUNT,
			T.SC_COUNT_E, T.USER_ID, DATE_FORMAT(T.INPUT_DATE, '%Y-%m-%d') INPUT_DATE, DATE_FORMAT(T.END_DATE, '%Y-%m-%d') END_DATE  
		  FROM schedule_info T
		 WHERE 1=1
			AND T.SID = #{SID}	   
	</select>
	
	<delete id="deleteCollectionInfo" parameterType="com.cmsoft.konan.vo.CollectionInfoVO">
		DELETE FROM schedule_info 
		 WHERE SID = #{SID}
	</delete>
	
	<delete id="cancelCollectionInfo" parameterType="com.cmsoft.konan.vo.CollectionInfoVO">
		UPDATE schedule_info 
		   SET SC_STATE = 3
		 WHERE SID = #{SID}
	</delete>	
</mapper>