<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.konantech.spring.mapper.MetaMapper">


    <insert id="putMeta" parameterType="map" useGeneratedKeys="true" keyProperty="IDX">

        <selectKey keyProperty="IDX" resultType="Integer" order="BEFORE">
            SELECT COALESCE(max(idx),0) + 1 FROM VTT_META_TB
        </selectKey>

        INSERT INTO VTT_META_TB (
          idx, title, createuser, modifyuser, createtime, modifytime, content, content2, delflag
        ) VALUES (
          #{IDX} , #{title} , 0, 0, NOW(), NOW(), cast(#{content} as jsonb) , cast(#{content} as json) , true
        )
    </insert>


    <select id="getMetaIdx" resultType="java.util.TreeMap">
        SELECT
          idx, title, content::text, createtime, createuser, modifytime, modifyuser, delflag
        FROM
          VTT_META_TB
        WHERE
          IDX = #{idx}
    </select>


    <select id="getMetaList" parameterType="string" resultType="java.util.TreeMap">
        SELECT
          idx, title, content::text, createtime, createuser, modifytime, modifyuser, delflag
        FROM
          VTT_META_TB
        WHERE
          content @> cast(#{jsonString} as jsonb)

    </select>


</mapper>
